html { 
    background: url(img/smoke.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .body {
    margin: 0;
  }

  /* START header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-family: monospace;
    font-size: 200%;
    padding-bottom: 3px;
    padding-left: 20px;
    color: rgb(165, 165, 165);
}

.logo-subtext {
    font-family: monospace;
    color: rgb(255, 255, 255);
    padding-left: 20px;
}

.header-links {
    flex-wrap: wrap;
}

.link1,
.link2,
.link3 {
    font-family: monospace;
    padding: 20px;
    text-decoration: none;
    color: rgb(187, 187, 187);
}

.link1:hover {
    color: red;
}

.link2:hover {
    color: red;
}

.link3:hover {
    color: red;
}

  /* END header */

  /* START body */

.container {
    height: 425px;
    width: auto;
    display: flex;
    flex-direction: column;
}

.main-text {
    font-family: monospace;
    color: white;
    font-size: 450%;
    margin-top: 200px;
    margin-left: 40px;
}

.sub-text {
    font-family: monospace;
    color: white;
    font-size: 130%;
    margin-top: 25px;
    margin-left: 40px;
}

.fu-button {
    font-family: monospace;
    color: white;
    border-color: white;
    margin-top: 62px;
    margin-left: 40px;
    padding: 15px 40px;
    background: none;
    border: outset;
}

.fu-button:hover {
    color: red;
}

  /* END body */

  .footer {
    font-family: monospace;
    position: fixed;
    color: white;
    height: 40px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    justify-content: center;
    align-items: center;
  }